@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);
@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);
@font-face {
  font-family: Greycliff;
  src: "./fonts/greycliff" format("opentype"); }

@font-face {
  font-family: Nexa;
  src: "./fonts/NexaRegular" format("opentype"); }

@font-face {
  font-family: Nexa;
  font-weight: light;
  src: "./fonts/NexaLight" format("opentype"); }

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: "./fonts/NexaLight" format("opentype"); }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc268034f13e1941cf4_AvertaStd-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc268034fe8d8941cf5_AvertaStd-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc2539c5e6fac90018d_AvertaStd-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc28fa52f5113804eae_AvertaStd-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc2c9396fa676ee814c_AvertaStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc20a1b03f2f174f18d_AvertaStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

.calendrier {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  position: relative; }
  .calendrier .params {
    position: absolute;
    z-index: 2;
    top: 2vw;
    right: 2vw;
    font-size: 3vh;
    color: white;
    cursor: pointer; }
  .calendrier .calendrierHeader {
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .calendrier .calendrierHeader img {
      position: absolute;
      z-index: 1; }
    .calendrier .calendrierHeader h1 {
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 6vh;
      position: relative;
      z-index: 2; }
    .calendrier .calendrierHeader h3 {
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      text-transform: uppercase;
      align-self: baseline;
      font-size: 2vh;
      position: relative;
      z-index: 2; }
  .calendrier .calendrierBody {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .calendrier .calendrierBody .jour {
      display: flex;
      align-items: center;
      background-color: #f9f9f9;
      border-radius: 25px;
      margin: 0 10px;
      height: 2.5%; }
      .calendrier .calendrierBody .jour.unselected {
        height: 0%; }
        .calendrier .calendrierBody .jour.unselected .jourContainer {
          display: none; }
      .calendrier .calendrierBody .jour .exitDetails {
        display: none; }
      .calendrier .calendrierBody .jour.selected {
        height: 100%;
        margin: 10px 10px;
        position: relative; }
        .calendrier .calendrierBody .jour.selected .exitDetails {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 2;
          color: black;
          font-size: 30px;
          display: flex; }
        .calendrier .calendrierBody .jour.selected .jourContainer {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          overflow: hidden; }
          .calendrier .calendrierBody .jour.selected .jourContainer .jourInfos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: "Averta Std";
            font-weight: 600;
            height: 10%;
            width: 200vw; }
            .calendrier .calendrierBody .jour.selected .jourContainer .jourInfos p:first-child {
              margin-right: 10px; }
          .calendrier .calendrierBody .jour.selected .jourContainer .vacances {
            border-bottom-left-radius: 0px;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            background-color: #faf4b7; }
          .calendrier .calendrierBody .jour.selected .jourContainer .jourHeure {
            height: 90%;
            overflow: hidden; }
            .calendrier .calendrierBody .jour.selected .jourContainer .jourHeure .heure {
              height: 10%;
              display: flex;
              flex-direction: row;
              align-items: center; }
              .calendrier .calendrierBody .jour.selected .jourContainer .jourHeure .heure p {
                margin: 0 10px;
                font-weight: 800;
                font-family: Arial; }
              .calendrier .calendrierBody .jour.selected .jourContainer .jourHeure .heure .line {
                margin: 0 10px;
                width: 95%;
                height: 2px;
                background: black; }
          .calendrier .calendrierBody .jour.selected .jourContainer .DayEvent {
            position: absolute;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            padding: 10px;
            justify-content: flex-start;
            align-items: center; }
            .calendrier .calendrierBody .jour.selected .jourContainer .DayEvent .profilPic {
              border-radius: 50%;
              height: 100px; }
            .calendrier .calendrierBody .jour.selected .jourContainer .DayEvent p {
              font-family: Gilroy;
              font-size: 2rem;
              margin-left: 30px; }
        .calendrier .calendrierBody .jour.selected .addEvent {
          display: none; }
      .calendrier .calendrierBody .jour .jourContainer {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 100%;
        align-items: center; }
        .calendrier .calendrierBody .jour .jourContainer .jourInfos {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: "Averta Std";
          font-weight: 600;
          width: 10%;
          padding: 0 10px;
          margin-right: 3%; }
          .calendrier .calendrierBody .jour .jourContainer .jourInfos p:first-child {
            margin-right: 10%; }
        .calendrier .calendrierBody .jour .jourContainer .vacances {
          background-color: #faf4b7;
          height: 100%;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px; }
        .calendrier .calendrierBody .jour .jourContainer .jourEvents {
          width: 88%;
          height: 80%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 3%; }
          .calendrier .calendrierBody .jour .jourContainer .jourEvents div {
            display: flex;
            align-items: center;
            padding: 0 10px;
            min-width: 0;
            border-radius: 25px;
            color: white; }
            .calendrier .calendrierBody .jour .jourContainer .jourEvents div .profilPic {
              border-radius: 50%;
              height: 80%; }
            .calendrier .calendrierBody .jour .jourContainer .jourEvents div p {
              font-family: Gilroy;
              margin-left: 10px; }
    .calendrier .calendrierBody .dimanche {
      background-color: #cdf0ea; }
      .calendrier .calendrierBody .dimanche .jourInfos {
        color: #ff8080; }
    .calendrier .calendrierBody .addEvent {
      width: 15%;
      height: 100%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px; }

@font-face {
  font-family: Greycliff;
  src: "./fonts/greycliff" format("opentype"); }

@font-face {
  font-family: Nexa;
  src: "./fonts/NexaRegular" format("opentype"); }

@font-face {
  font-family: Nexa;
  font-weight: light;
  src: "./fonts/NexaLight" format("opentype"); }

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: "./fonts/NexaLight" format("opentype"); }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc268034f13e1941cf4_AvertaStd-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc268034fe8d8941cf5_AvertaStd-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc2539c5e6fac90018d_AvertaStd-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc28fa52f5113804eae_AvertaStd-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc2c9396fa676ee814c_AvertaStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Averta Std";
  src: url("https://assets.website-files.com/618e9316785b3582a5178502/618fccc20a1b03f2f174f18d_AvertaStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

.cuisine {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f9fbfd; }
  .cuisine .cuisineHome {
    position: absolute;
    top: 0;
    font-family: Gilroy;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    height: 90%;
    width: 80%;
    position: absolute;
    top: 0; }
    .cuisine .cuisineHome .cuisineHomeHeader {
      position: relative;
      text-transform: capitalize;
      margin: 10% 0 5% 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      font-size: 80px; }
    .cuisine .cuisineHome .cuisineResearchWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 60px; }
      .cuisine .cuisineHome .cuisineResearchWrapper .cuisineResearch {
        position: relative;
        background: #fff;
        color: #dbdfeb;
        font-size: 60px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 25px;
        width: 60%; }
        .cuisine .cuisineHome .cuisineResearchWrapper .cuisineResearch input {
          background: transparent;
          color: #dbdfeb;
          font-family: Gilroy;
          border: none;
          font-size: 30px;
          padding: 20px 0px;
          width: 80%; }
          .cuisine .cuisineHome .cuisineResearchWrapper .cuisineResearch input:focus {
            outline: none;
            color: #000; }
      .cuisine .cuisineHome .cuisineResearchWrapper .cuisineResearchType {
        background: #fff;
        border-radius: 15px;
        padding: 15px; }
      .cuisine .cuisineHome .cuisineResearchWrapper .cuisineResearchType-selected {
        background: #e5f5ee;
        border-radius: 15px;
        padding: 15px; }
    .cuisine .cuisineHome .keyboard {
      display: block;
      background: red; }
  .cuisine .cuisineSave {
    height: 90vh;
    width: 100vw;
    background: green;
    position: absolute;
    top: 0; }
  .cuisine .cuisineProfil {
    height: 90vh;
    width: 100vw;
    background: blue;
    position: absolute;
    top: 0; }
  .cuisine .cuisineFooter {
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    font-size: 5vh; }
    .cuisine .cuisineFooter .navIcon {
      color: #dfdfdf;
      transition: color 0.7s ease;
      cursor: pointer; }
    .cuisine .cuisineFooter .selected {
      color: #000; }

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000088;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal {
  width: 80%;
  height: 50%;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.modalParam {
  width: 80%;
  height: 50%;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .modalParam .modalHeader {
    height: 10%;
    background: green;
    text-transform: uppercase; }
  .modalParam .modalBody {
    height: 70%;
    width: 100%;
    background: red; }

body {
  margin: 0;
  background-color: #282c34;
  font-family: Nexa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.rose {
  background-color: #f9ceee !important; }

.bleu {
  background-color: #9adcff !important; }

.orange {
  background-color: #ffc898 !important; }

.jaune {
  background-color: #fffda8 !important;
  color: black !important; }
