@import "./fonts/Fonts.scss";

.calendrier {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	position: relative;
	.params {
		position: absolute;
		z-index: 2;
		top: 2vw;
		right: 2vw;
		font-size: 3vh;
		color: white;
		cursor: pointer;
	}
	.calendrierHeader {
		height: 10%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			position: absolute;
			z-index: 1;
		}
		h1 {
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
			color: #fff;
			text-transform: uppercase;
			font-size: 6vh;
			position: relative;
			z-index: 2;
		}
		h3 {
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
			color: #fff;
			text-transform: uppercase;
			align-self: baseline;
			font-size: 2vh;
			position: relative;
			z-index: 2;
		}
	}
	.calendrierBody {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.jour {
			display: flex;
			align-items: center;
			background-color: #f9f9f9;
			border-radius: 25px;
			margin: 0 10px;
			height: 2.5%;

			&.unselected {
				height: 0%;
				.jourContainer {
					display: none;
				}
			}

			.exitDetails {
				display: none;
			}

			&.selected {
				height: 100%;
				margin: 10px 10px;
				position: relative;

				.exitDetails {
					position: absolute;
					top: 10px;
					right: 10px;
					z-index: 2;
					color: black;
					font-size: 30px;
					display: flex;
				}

				.jourContainer {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					border-radius: 25px;
					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
					overflow: hidden;

					.jourInfos {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						font-family: "Averta Std";
						font-weight: 600;
						height: 10%;
						width:  200vw;
						p:first-child {
							margin-right: 10px;
						}
					}
					.vacances {
						border-bottom-left-radius: 0px;
						border-top-right-radius: 25px;
						border-top-left-radius: 25px;
						background-color: #faf4b7;
					}
					.jourHeure {
						height: 90%;
						overflow: hidden;
						.heure {
							height: 10%;
							display: flex;
							flex-direction: row;
							align-items: center;

							p {
								margin: 0 10px;
								font-weight: 800;
								font-family: Arial;
							}

							.line {
								margin: 0 10px;
								width: 95%;
								height: 2px;
								background: black;
							}
						}
					}
					.DayEvent {
						position: absolute;
						display: flex;
						flex-direction: row;
						border-radius: 10px;
						padding: 10px;
						
						
						justify-content: flex-start;
						align-items: center;

	
						.profilPic {
							border-radius: 50%;
							height: 100px;
						}

						p {
							font-family: Gilroy;
							font-size: 2rem;
							margin-left: 30px;
						}
						
					}
				}
				.addEvent {
					display: none;
				}
			}

			.jourContainer {
				display: flex;
				flex-direction: row;
				width: 95%;
				height: 100%;
				align-items: center;


				.jourInfos {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-family: "Averta Std";
					font-weight: 600;
					width: 10%;
					padding: 0 10px;
					margin-right: 3%;
					p:first-child {
						margin-right: 10%;
					}
				}
				.vacances {
					background-color: #faf4b7;
					height: 100%;
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				}
				.jourEvents {
					width: 88%;
					height: 80%;
					display: flex;
					flex-direction: row;
					
					
					justify-content: flex-start;
					gap: 3%;

					div {
						display: flex;
						align-items: center;
						padding: 0 10px;
						min-width: 0;

						border-radius: 25px;
						color:white;

						.profilPic {
							border-radius: 50%;
							height: 80%;
						}

						p {
							font-family: Gilroy;
							margin-left: 10px;
						}
					}
				}
			}
		}
		.dimanche {
			background-color: #cdf0ea;

			.jourInfos {
				color: #ff8080;
			}
		}

		.addEvent {
			width: 15%;
			height: 100%;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
		}
	}
}
