@import "./Calendrier.scss";
@import "./Cuisine.scss";
@import "./components/Backdrop.scss";
@import "./components/Modal.scss";
@import "./components/LoginModal.scss";

body {
	margin: 0;
	background-color: #282c34;
	font-family: Nexa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//Colors

.event-rose {
	background-color: #CA69DA !important;
}

.event-blue {
	background-color: #8AB2FD !important;
}

.event-green {
	background-color: #97D597 !important;
}

.event-yellow {
	background-color: #FDE48A !important;
}

.rose {
	background-color: #f9ceee !important;
	color: black !important;
}

.bleu {
	background-color: #9adcff !important;
}

.orange {
	background-color: #ffc898 !important;
}

.jaune {
	background-color: #fffda8 !important;
	color: black !important;
}